<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=.; database=RIS_PCMC; User ID=sa; Password=mira001;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>