<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RIS.Plugin.Properties.Settings.RIS_RAMAConnectionString"
            connectionString="Data Source=onvaio;Initial Catalog=RIS_RAMA;User ID=sa;Password=mira001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>