<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="LogPath" value="D:\MAT\Log"/>
    <!--<add key="patient_url" value="http://appcenter.rama.mahidol.ac.th/webservice/patientservice.wsdl"/>-->
    <add key="patient_url" value="http://appcenter.rama.mahidol.ac.th/webservice/patientservice.wsdl"/>
    <add key="patient_identification" value="http://TOMCATWSG1.rama.mahidol.ac.th:8080/WSPid/services/PatientIdentificationService?wsdl"/>
    <!--<add key="bill_url" value="http://10.6.86.37:8080/BillingService/services/BillingService?wsdl"/>-->
    <add key="bill_url" value="http://jbossws:8080/BillingService/services/BillingService?wsdl"/>
    <add key="appcenter_url" value="http://appcenter/webservice/patientservice.wsdl"/>
    <add key="appcenter_lab_url" value="http://testwebapp.rama.mahidol.ac.th:8080/labWebService/services/resultLabService/searchResultLabByBTypeMRNAndRangeDate"/>
  </appSettings>
</configuration>
