<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="synapseAccession" value="http://synapse/explore.asp?path=/All%20Studies./AccessionNumber="/>
    <add key="synapseHN" value="http://synapse/explore.asp?path=/All%20Patients/InternalPatientUID="/>
    <add key="synapseServer" value="synapse"/>
  </appSettings>
</configuration>
