<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Envision.NET.Properties.Settings.RIS_RAMAConnectionString"
      connectionString="Data Source=envisiondw;Initial Catalog=RIS_RAMA;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	<add key="connStr" value="server=miracle9; database=RIS_RAMA;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;" />
	<!--<add key="connStr" value="server=10.6.34.134; database=RIS_RAMA;User ID=sa;Password=mira001; Persist Security Info=false;Connection Timeout=30;" />-->
	<add key="connStr2" value="server=ENVDBCNMI; database=RIS_CNMI;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;" />
    <!--<add key="connStr2" value="server=ENVDBCNMI; database=RIS_CNMITEST;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;" />-->
    <!--<add key="connStr" value="server=miracle9;Failover Partner=envisionmirror; database=RIS_RAMA;User ID=sa;Password=mira001; Persist Security Info=false; Connection Timeout=30;" />-->
    <add key="WebReport" value="http://localhost/EnvisionWebReport" />
    <add key="SMTPServer" value="" />
    <add key="ToAddress" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Report Search -->
    <add key="connStrReportSearch" value="server=10.6.34.52; database=RIS_RAMA;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;" />
    <add key="connStrReportSearch2" value="server=ENVDBCNMI; database=RIS_CNMI;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;" />
    <!--<add key="connStrReportSearch2" value="server=ENVDBCNMI; database=RIS_CNMITEST;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;" />-->
    <add key="reportSearchICONSynapse" value="http://miracle99/EnvisionImages/synapse16.png"/>
    <add key="reportSearchICONRequest" value="http://miracle99/EnvisionImages/note-accept-icon-16.png"/>
    
    <!-- Add Reporting Service -->
    <add key="reportingServer" value="http://miracle9/ReportServer"/>
    <add key="reportingDomain" value="MIRACLE9"/>
    <add key="reportingUser" value="Administrator"/>
    <add key="reportingPassWord" value="Str0ngP@ssw0rd"/>

    <!-- Add Error Result Path -->
    <add key="errorResultPath" value="C:\Program Files\Envision_Error\Envision_Result_Backup\"/>
    <!-- Add Error Path -->
    <add key="errorPath" value="C:\Program Files\Envision_Error\Envision_Exception_Backup\"/>

    <!-- Add Error Images Path -->
    <add key="errorImagesPath" value="D:\Envision\ErrorImages\"/>

    <!-- Add Scan Images Path -->
    <add key="LoginAuthMode" value="0"/>
    <add key="ServerLogPath" value="D:\MAT\Log\Client\" />

    <add key="Scan.DeviceId" value=""/>
    <add key="Scan.PageKind" value=""/>
    <add key="Scan.ColorFormat" value=""/>
    <add key="Scan.ResolutionDPI" value="150"/>
    <add key="Scan.Brightness" value="0"/>
    <add key="Scan.Contrast" value="0"/>

	<!--https://care.rama.mahidol.ac.th/api/covid19/icon/{hn}-->
	<add key="RamaCare" value="https://care.rama.mahidol.ac.th/api/covid19/icon/"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>