<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="RIS.Properties.Settings.New_RIS ConnectionString" connectionString="Data Source=192.168.0.211;Initial Catalog=RIS_RMC;Persist Security Info=True;User ID=sa;Password=mira001"
		  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!-- RIS MAIN >
  <appSettings>
    <add key="connStr"
				value="server=HL7-PACS; database=RIS_NEW; User ID=sa;Password=mira001; Persist Security Info=True" />
  </appSettings>
-->
  <!-- MSAC -->
  <!--<appSettings>
  <add key="connStr"
           value="server=MIDNIGHTBLUE\SQLEXPRESS; database=RISN; integrated security=SSPI" />
  </appSettings>-->
  <!-- Mr.PuP -->
  <!--<appSettings>
    <add key="connStr"
             value="server=SITTI\SQLEXPRESS; database=RIS_NEW;User ID=sa;Password=sa123; integrated security=SSPI" />
  </appSettings>-->
  <!-- Dell  -->
  <appSettings>
    <add key="connStr" value="server=miracle9; database=RIS_RAMA_CHECKUP;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;" />
    <add key="connStrReportSearch" value="server=miracle9; database=RIS_RAMA_CHECKUP;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;"/>
    <!--<add key="WebReport" value="http://SYNMIRA/EnvisionWebReport" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>