<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Envision.Plugin.Properties.Settings.RIS_CUConnectionString"
            connectionString="Data Source=ENVISIONDB;Initial Catalog=RIS_CU;User ID=sa;Password=mira001"
            providerName="System.Data.SqlClient" />
        <add name="Envision.Plugin.Properties.Settings.RIS_RAMAConnectionString"
            connectionString="Data Source=miracle9;Initial Catalog=RIS_RAMA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Envision.Plugin.Properties.Settings.RIS_RAMAConnectionString1"
            connectionString="Data Source=onvaio;Initial Catalog=RIS_RAMA;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>