body 
{
	margin:0 0 0 0;
    font-family:MS Sans Serif;
}
.labelStyle
{
   display:inline !important;
   width: 100px !important;
   text-align:right;
}
.labelComboStyle
{
   display:inline !important;
   width: 200px !important;
   text-align:left;
}
 .myLabelCss
    {
        font-size: smaller;
    }
.imgBorder
{
    border-width:1px;	
    border-style:solid;
}
.imgBorderInformation
{
    border-width:2px;	
    border-style:dotted;
    border-color:Gray;
}


