<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PrefixNameConfig" type="PrefixNameConfig"/>
  </configSections>
  <appSettings>
    <add key="ConfigService.LogPath" value="D:\MAT\Log\EnvisionWebService\"/>
    <add key="ConfigService.ThaiRomanPath" value="D:\ThaiRoman\"/>
    <add key="ConfigService.ClientLogPath" value="D:\MAT\Log\Client\"/>
    <add key="ConfigService.ClientPort" value="5555"/>
  </appSettings>
  <PrefixNameConfig>
    <PrefixName>
      <!--แพทย์-->
      <add PrefixName="ผศ.นพ." PrefixNameEng="Dr." Gender="M"/>
      <add PrefixName="นพ." PrefixNameEng="Dr." Gender="M"/>
      <add PrefixName="น.พ." PrefixNameEng="Dr." Gender="M"/>
      <add PrefixName="พญ." PrefixNameEng="Dr." Gender="F"/>
      <add PrefixName="พ.ญ." PrefixNameEng="Dr." Gender="F"/>
      <!--อื่นๆ-->
      <add PrefixName="คุณ" PrefixNameEng="K." Gender="O"/>
      <add PrefixName="นาย" PrefixNameEng="Mr." Gender="M"/>
      <add PrefixName="นาง" PrefixNameEng="Mrs." Gender="F"/>
      <add PrefixName="น.ส." PrefixNameEng="Miss" Gender="F"/>
      <add PrefixName="นางสาว" PrefixNameEng="Miss" Gender="F"/>
      <add PrefixName="บาทหลวง" PrefixNameEng="Rev." Gender="O"/>
      <add PrefixName="ม.ล." PrefixNameEng="M.L." Gender="O"/>
      <add PrefixName="หม่อมหลวง" PrefixNameEng="M.L." Gender="O"/>
      <add PrefixName="ม.ร.ว." PrefixNameEng="M.R." Gender="O"/>
      <add PrefixName="หม่อมราชวงศ์" PrefixNameEng="M.R." Gender="O"/>
      <add PrefixName="หม่อมเจ้า" PrefixNameEng="M.C." Gender="O"/>
      <add PrefixName="สามเณร" PrefixNameEng="Samanera" Gender="O"/>
      <add PrefixName="พระ" PrefixNameEng="Phra" Gender="O"/>
      <add PrefixName="พระอธิการ" PrefixNameEng="Phra Athikan" Gender="O"/>
      <add PrefixName="เจ้าอธิการ" PrefixNameEng="Chao Athikan" Gender="O"/>
      <add PrefixName="พระปลัด" PrefixNameEng="Phrapalad" Gender="O"/>
      <add PrefixName="พระสมุห์" PrefixNameEng="Phrasamu" Gender="O"/>
      <add PrefixName="พระใบฎีกา" PrefixNameEng="Phrabaidika" Gender="O"/>
      <add PrefixName="พระครูปลัด" PrefixNameEng="Phrakhu Palad" Gender="O"/>
      <add PrefixName="พระครูสมุห์ " PrefixNameEng="Phrakhu Samu" Gender="O"/>
      <add PrefixName="พระครูใบฎีกา" PrefixNameEng="Phrakhu Baidika" Gender="O"/>
      <add PrefixName="พระมหา" PrefixNameEng="Phramaha" Gender="O"/>
      <add PrefixName="พระครูธรรมธร" PrefixNameEng="Phrakhu Dhammadhorn" Gender="O"/>
      <add PrefixName="พระครูวินัยธร" PrefixNameEng="Phrakhu Vinaidhorn" Gender="O"/>
    </PrefixName>
  </PrefixNameConfig>
  <system.web>
    <compilation debug="true"/>
    <authentication mode="Windows"/>
  </system.web>
</configuration>