<div class="jumbotron">
    <h1>Envision Web API</h1>
    <p class="lead">All API for services Envision applications.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ramathibodi Hospital</h2>
        <p>This API service support X-Ray Department in Ramathibodi Hospital Mahidol University.</p>
        <p><a class="btn btn-default" href="http://med.mahidol.ac.th/th">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more integrations</h2>
        <p>Our API integratation with PACS System and HIS. We have quality and good services in many products.</p>
        <p><a class="btn btn-default" href="http://www.jfav.co.th/web/">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact US</h2>
        <p>You can easily to use our API and can contact our team.</p>
        <p><a class="btn btn-default" href="https://web.facebook.com/miracleadvancetechnologies">See more &raquo;</a></p>
    </div>
</div>
