<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PriorityConfig" type="EnvisionIEGet3rdPartyData.Common.Global.PriorityConfig"/>
  </configSections>
  <appSettings>
		<add key="LogPath" value="D:\MAT\Log\EnvisionIEGet3rdPartyData\"/>
		<add key="ConnectionString" value="server=miracle9; database=RIS_RAMA; User ID=sa; Password=mira@@1;"/>
		<add key="DomainWebService" value="http://ENVISIONJPG/"/>
		<add key="ConfigService.RisIP" value="ENVISIONJPG"/>
		<add key="ConfigService.RisPort" value="9001"/>
		<add key="ConfigService.ThirdPartyConnectionName" value="Rama"/>
		<add key="ConfigService.ThirdPartyConnectionString" value="server=192.168.168.8; database=JGHXRAY; User ID=xrayprs; Password=T110iiPE"/>
    <add key="ConfigService.ThirdPartyDomainWebService" value=""/>
    <add key="ConfigService.ThirdPartyUncPath" value=""/>
    <add key="ConfigService.ThirdPartyUserDomainName" value=""/>
    <add key="ConfigService.ThirdPartyUserName" value=""/>
    <add key="ConfigService.ThirdPartyPassword" value=""/>
    <add key="ConfigService.ThirdPartyDirectorySent" value=""/>
    <add key="ConfigService.ThirdPartyDirectorySentBackup" value=""/>
    <add key="ConfigService.ThirdPartyFileExtension" value=""/>
    <add key="ConfigService.ThirdPartyEncoding" value="65001"/>
    <add key="ConfigService.DefaultOrgId" value="1"/>
    <add key="ConfigService.DefaultLastModifiedBy" value="1"/>
    <add key="ConfigServiceHOSxP.UseLegacyVersion" value="false"/>
		<add key="ConfigServiceHOSxP.HNLength" value="9"/>
		<add key="ConfigServiceHOSxP.HNKeepPrefix" value="false"/>
		<add key="ConfigServiceHOSxP.SweepDelayMinTimes" value="60"/>
    <add key="ConfigServiceHOSxP.SweepOrderVerifyPatientXn" value="false"/>
    <add key="ConfigServiceHOSxP.SweepOrderVerifyConfirm" value="false"/>
    <add key="ConfigServiceHOSxP.ExamWithPosition" value="false"/>
		<add key="ConfigServiceHOSxP.RecordOperator" value="false"/>
		<add key="ConfigServicePDH.SweepDelayMinTimes" value="-1"/>
		<add key="ConfigServiceHomC.UserName" value="xray01          "/>
    <add key="ConfigServiceHomC.HNLength" value="7"/>
  </appSettings>
  <PriorityConfig>
    <Priorities>
      <add PriorityUid="1" PriorityStatus="R"/>
      <!--ปกติ-->
      <add PriorityUid="2" PriorityStatus="S"/>
      <!--ขอ Film ด่วนไม่ต้องรายงานผล-->
      <add PriorityUid="3" PriorityStatus="U"/>
      <!--ขอผลด่วน-->
      <add PriorityUid="4" PriorityStatus="U"/>
      <!--ขอผลด่วนพร้อม Film-->
    </Priorities>
  </PriorityConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>