<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConfigService.LogPath" value="D:\MAT\Log\EnvisionServices." />
		<add key="ConfigService.ClearTime" value="00:00:00" />
		<add key="ConfigService.ClearOverDays" value="30" />
		<add key="ConfigService.ClearDirectories" value="D:\MAT\Log\" />
		<add key="ConfigService.ClearFileExtensions" value="*.txt" />
		<add key="ConfigService.ThaiRomanPath" value="D:\ThaiRoman\"/>
		<add key="ConfigService.ClientLogPath" value="D:\MAT\Log\EnvisionServices.Client."/>
		<add key="ConfigService.ClientPort" value="5555"/>
	</appSettings>
</configuration>