<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="synapseAccessionURL" value="http://synapse/explore.asp?path=/All%20Studies./AccessionNumber="/>
    <add key="synapsePatientUidURL" value="http://synapse/explore.asp?path=/All%20Patients/InternalPatientUID="/>
    <add key="synapseServerName" value="synapse"/>
    <add key="replaceTAB" value="true"/>
    <add key="recievePORT" value="7071"/>
    <add key="connStr" value="server=192.168.10.227\SQLEXPRESS; database=RIS_KEEPLOGS;User ID=sa;Password=mira@@1; Persist Security Info=false;Connection Timeout=30;"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
